{% extends 'back/_layout/_base.html.twig' %}

{% set title = "Create item" %}
{% set actionName = "Create item" %}
{% if context is defined and context == "update" %}
    {% set title = "Update item " ~ item.name %}
    {% set actionName = "Update item" %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <a href="{{ path("gameBack_home", {'game': game.id}) }}"><i class="fal fa-home"></i>Home</a>
        <span> > </span>
        <a href="{{ path("gameBack_item_list", {'game': game.id}) }}"><i class="fal fa-sack"></i>Items</a>
        <span> > </span>
        <span><i class="fal fa-edit"></i>{{ title }}</span>
    </div>
{% endblock %}

{% block body %}
    <form method="post" data-form-checker="true">
        {{ form_start(form) }}

        <div class="stickyPageHeader">
            <div>
                <h1>{{ title }}</h1>
                <p>Define the properties of your item and click on the "{{ actionName }}" button at the top right.</p>
            </div>
            <button class="emphasis" type="submit"><i class="fas fa-sack"></i>{{ actionName }}</button>
        </div>

        <div class="strip">
            <div class="panels">

                <div class="card">
                    <div class="body">
                        <form method="post" action="">
                            {{ form_start(form) }}
                            {{ form_row(form.name) }}
                            {{ form_row(form.description) }}
                            {{ form_end(form) }}
                        </form>
                    </div>
                </div>

            </div>
        </div>

        {{ form_end(form) }}
    </form>
{% endblock %}