{% extends 'back/_layout/_base.html.twig' %}

{% set title = "Create consumable" %}
{% set actionName = "Create consumable" %}
{% if context is defined and context == "update" %}
    {% set title = "Update consumable " ~ consumable.name %}
    {% set actionName = "Update consumable" %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <a href="{{ path("gameBack_home", {'game': game.id}) }}"><i class="fal fa-home"></i>Home</a>
        <span> > </span>
        <a href="{{ path("gameBack_consumable_list", {'game': game.id}) }}"><i class="fal fa-bomb"></i>Consumables</a>
        <span> > </span>
        <span><i class="fal fa-edit"></i>{{ title }}</span>
    </div>
{% endblock %}

{% block body %}

    <form method="post" data-form-checker="true">
        {{ form_start(form) }}

        <div class="stickyPageHeader">
            <div>
                <h1>{{ title }}</h1>
                <p>Define the properties of your consumable and click on the "{{ actionName }}" button at the top right.</p>
            </div>
            <button class="emphasis" type="submit"><i class="fas fa-bomb"></i>{{ actionName }}</button>
        </div>

        <div class="strip">
            <div class="panels">

                {# Left block #}
                <div class="small">
                    <div class="card">
                        <div class="body">

                            <h2><i class="fas fa-list"></i>Consumable</h2>
                            {{ form_row(form.name) }}
                            {{ form_row(form.description) }}

                        </div>
                    </div>
                </div>

                {# Right block #}
                <div>

                    <div class="card">
                        <div class="body">
                            <h2><i class="fas fa-sword"></i>Consumable damage effects</h2>
                            <p class="spaceBefore">Damage effects define how this consumable will make damages to target(s).</p>
                            {% if game.resources|length == 0 or game.damageNatures|length == 0 %}
                                <p class="alert">You cannot add a damage effect because no resources or no damage natures exist in the game.</p>
                            {% else %}
                                {{ form_row(form.skillDamageEffects) }}
                                <div class="genericFlex right">
                                    <a data-collection-adder="consumableDamageEffect"><i class="fas fa-plus-square"></i><span>Add an effect (damage)</span></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="card">
                        <div class="body">
                            <h2><i class="fas fa-sparkles"></i>Consumable heal effects</h2>
                            <p class="spaceBefore">Heal effects define how this consumable will heal target(s).</p>
                            {% if game.resources|length == 0 %}
                                <p class="alert">You cannot add a heal effect because no resources exist in the game.</p>
                            {% else %}
                                {{ form_row(form.skillHealEffects) }}
                                <div class="genericFlex right">
                                    <a data-collection-adder="consumableHealEffect"><i class="fas fa-plus-square"></i><span>Add an effect (heal)</span></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="card">
                        <div class="body">
                            <h2><i class="fas fa-sparkles"></i>Consumable status effects</h2>
                            <p class="spaceBefore">Status effects define which alteration(s) will affect target(s).</p>
                            {% if game.statusEffects|length == 0 %}
                                <p class="alert">You cannot add a heal effect because no status effect exist in the game.</p>
                            {% else %}
                                {{ form_row(form.skillStatusEffects) }}
                                <div class="genericFlex right">
                                    <a data-collection-adder="consumableStatusEffect"><i class="fas fa-plus-square"></i><span>Add a status effect</span></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>

            </div>
        </div>

        {{ form_end(form) }}
    </form>

{% endblock %}

{% block javascripts %}
    <script>
        let damagesElementsManager = new FormCollectionManager($('#consumable_skillDamageEffects'), {{ consumable.skillDamageEffects|length }}, 'consumableDamageEffect');
        damagesElementsManager.init();

        let healsElementsManager = new FormCollectionManager($('#consumable_skillHealEffects'), {{ consumable.skillHealEffects|length }}, 'consumableHealEffect');
        healsElementsManager.init();

        let statusEffectsElementsManager = new FormCollectionManager($('#consumable_skillStatusEffects'), {{ consumable.skillStatusEffects|length }}, 'consumableStatusEffect');
        statusEffectsElementsManager.init();
    </script>
{% endblock %}