{% extends 'back/_layout/_base.html.twig' %}

{% block title %}Consumables{% endblock %}
{% block breadcrumb %}
    <div class="breadcrumb">
        <a href="{{ path("gameBack_home", {'game': game.id}) }}"><i class="fal fa-home"></i>Home</a>
        <span> > </span>
        <span><i class="fal fa-toolbox"></i>Consumables</span>
    </div>
{% endblock %}

{% block body %}

    {% include "back/_common/list-page-header.html.twig" with {
        'pageTitle': "Consumables",
        'pageDescription': "Consumables are items that can be used in combat and have effects, such as bombs or healing items.",
        'addActionRoute': path('gameBack_consumable_add', {'game': game.id}),
        'addActionName': "Add consumable"
    } %}

    <div class="strip column">
        {% if consumables|length == 0 %}
            <p>You have no consumable in your game. To add a consumable, click on the top right button "Add consumable".</p>
        {% endif %}
        {% for consumable in consumables %}
            <div class="object unfoldable">
                <div class="header">
                    <div class="graph">
                        <i class="fal fa-toolbox"></i>
                    </div>
                    <div class="identity">
                        <h2>{{ consumable.name }}</h2>
                        <p>{{ consumable.description }}</p>
                    </div>
                    <div class="actions">
                        <a href="{{ path('gameBack_consumable_update', {'game': game.id, 'consumable': consumable.id}) }}">
                            <i class="fal fa-edit"></i>
                            <span>Update</span>
                        </a>
                        <a class="remove" href="{{ path('gameBack_consumable_delete', {'game': game.id, 'consumable': consumable.id}) }}" onclick="return confirm(`Do you confirm the deletion?`)">
                            <i class="fal fa-trash-alt"></i>
                            <span>Delete</span>
                        </a>
                    </div>
                </div>
                <div class="body">
                    {% include "_common/entity-bodies/skill.html.twig" with {'skill': consumable} %}
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}