<div class="panels spacedChildren">

    {# Costs and gains (only for skills and weapons) #}
    {% if skill.className != "consumable" %}
    <div class="small">

        <h2 class="lined"><i class="fal fa-street-view"></i>Launcher</h2>
        {% if skill.skillCosts|length == 0 and skill.skillGains|length == 0 %}
            <p class="small">No effect on caster</p>
        {% endif %}

        {% for cost in skill.skillCosts %}
            <p class="labelRow damage">
                <span>{{ cost }}</span>
            </p>
        {% endfor %}

        {% for gain in skill.skillGains %}
            <p class="labelRow heal">
                <span>{{ gain }}</span>
            </p>
        {% endfor %}

    </div>
    {% endif %}

    {# Effects (damage, heal and se) #}
    {% if skill.hasEffect %}
    <div>

        <h2 class="lined"><i class="fal fa-bullseye-arrow"></i>Target(s) effects</h2>

        {% for effect in skill.skillDamageEffects %}
            <p class="labelRow damage">
                <span>{{ effect }}</span>
                <span>{{ effect.damageNature.name }}</span>
                {% for potencyAugmentator in effect.getPotencyAugmentator %}
                    <span>{{ potencyAugmentator.name }}</span>
                {% endfor %}
            </p>
        {% endfor %}

        {% for effect in skill.skillHealEffects %}
            <p class="labelRow heal">
                <span>{{ effect }}</span>
                {% for potencyAugmentator in effect.getPotencyAugmentator %}
                    <span>{{ potencyAugmentator.name }}</span>
                {% endfor %}
            </p>
        {% endfor %}

        {% for effect in skill.skillStatusEffects %}
            <p class="labelRow">
                <span>{{ effect }}</span>
            </p>
        {% endfor %}

    </div>
    {% endif %}

    {# Jobs requirements (only for skills and weapons) #}
    {% if skill.className != "consumable" and skill.jobs|length > 0 %}
        <div class="small">
            <h2 class="lined"><i class="fal fa-bullseye-arrow"></i>Jobs</h2>
            {% if skill.jobs|length == 0 %}
                <p class="small">Can be used by any character.</p>
            {% else %}
                {% for job in skill.jobs %}
                    <p class="labelRow"><span class="ghost">Limited to</span><span>{{ job.name }}</span></p>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

</div>