<div class="panels spacedChildren">

    {# Attributes and resources alterations #}
    {% if statusEffect.attributeAlterations|length > 0 or statusEffect.resourceAlterations|length > 0 %}
    <div class="spaceTopChildrenTitles">

        <h2 class="lined"><i class="fal fa-street-view"></i>Characteristics alterations</h2>

        {% for attributeAlteration in statusEffect.attributeAlterations %}
            <p class="labelRow {% if attributeAlteration.isNegative %}damage{% else %}heal{% endif %}">
                <span>{{ attributeAlteration }}</span>
            </p>
        {% endfor %}

        {% for resourceAlteration in statusEffect.resourceAlterations %}
            <p class="labelRow {% if resourceAlteration.isNegative %}damage{% else %}heal{% endif %}">
                <span>{{ resourceAlteration }}</span>
            </p>
        {% endfor %}

    </div>
    {% endif %}

    {# Effects (damage, heal and se) #}
    {% if statusEffect.damageOverTimes|length > 0 or statusEffect.healOverTimes|length > 0 %}
        <div class="spaceTopChildrenTitles">

            <h2 class="lined"><i class="fal fa-street-view"></i>Damage and heal over time</h2>

            {% for damageOverTime in statusEffect.damageOverTimes %}
                <p class="labelRow damage">
                    <span>{{ damageOverTime }}</span>
                    <span>(type: {{ damageOverTime.damageNature.abreviation }})</span>
                </p>
            {% endfor %}

            {% for healOverTime in statusEffect.healOverTimes %}
                <p class="labelRow damage">
                    <span>{{ healOverTime }}</span>
                </p>
            {% endfor %}

        </div>
    {% endif %}

</div>